<html>

    <head>
        <title>Detail</title>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    </head>
    <body>

        <div class="container">
            <h3 style="margin-top:30px;margin-bottom:10px">{{ name }}</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>IPC</th>
                        <th>Status</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ipc, value in detail.items %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ ipc }}</td>
                        <td>{{ value.status }}</td>
                        <td>{{ value.location }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </body>

</html>
